div.footer {
    background-color: #313131;
    height: 150px;
    margin-top: 50px;
    position: relative;
    top: -100px;

}

div.mainfooter {
    background-color: #313131;
    height: 50px;
    margin-top: 50px;
}